/* Profile.module.css */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh; /* Full viewport height */
  padding: 20px;
}

.profileCard {
  width: 100%;
  max-width: 800px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.profileGroup {
  margin-bottom: 10px;
}

.profileLabel {
  font-weight: bold;
}

.profileValue {
  margin-left: 10px;
}

.availabilitySection {
  margin-top: 20px;
}

.sectionHeader {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.availabilityList {
  list-style-type: none;
  padding: 0;
}

.availabilityItem {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.deleteButton {
  background-color: #ff6347;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 50%;
  margin-left: 10px;
}

.addAvailabilitySection {
  margin-top: 20px;
}

.updateButton {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.usersSection {
  margin-top: 20px;
}

.userList {
  list-style-type: none;
  padding: 0;
}

.userItem {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.userNumber {
  font-weight: bold;
  margin-right: 10px;
}

.userName {
  font-weight: bold;
  margin-right: 10px;
}

.userEmail {
  color: #777;
  margin-right: 10px;
}

.userStatus {
  color: #777;
  margin-right: 10px;
}

.loading {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}

.error {
  font-size: 1.2rem;
  font-weight: bold;
  color: red;
}

.availabilityForm {
  width: 100%;
  max-width: 600px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.formButtons {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.submitButton {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 10px;
}

.cancelButton {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}
.sessionCardsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}

.sessionCard {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 15px;
  width: calc(33.33% - 20px);
  min-width: 200px;
}

.sessionDate {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.sessionTimes {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.sessionTime {
  background-color: #e0f2f1;
  color: #00796b;
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 0.9rem;
}