* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  section {
    position: relative;
    min-height: 100vh;
    width: 100%;
    background: #121321;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    perspective: 1000px;
  }

  .emailTop {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
  }
  
  .emailTop a {
    color: #fff;
    text-decoration: none;
  }
  
  .container {
    position: relative;
    height: 225px;
    width: 375px;
    z-index: 100;
    transition: 0.6s;
    transform-style: preserve-3d;
  }
  
  .container:hover {
    transform: rotateY(180deg);
  }
  
  .container .card {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 25px;
    border-radius: 25px;
    backdrop-filter: blur(25px);
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.1);
    backface-visibility: hidden;
  }
  
  .front-face header,
  .front-face .logo {
    display: flex;
    align-items: center;
  }
  
  .front-face header {
    justify-content: space-between;
  }
  
  .front-face .logo h5 {
    font-size: 16px;
    font-weight: 400;
  }
  
  .front-face .card-details {
    display: flex;
    margin-top: 40px;
    align-items: flex-end;
    justify-content: space-between;
  }
  
  h6 {
    font-size: 10px;
    font-weight: 400;
  }
  
  h5.number {
    font-size: 18px;
    letter-spacing: 1px;
  }
  
  h5.name {
    margin-top: 20px;
  }
  
  .card.back-face {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 25px 25px 25px;
    transform: rotateY(180deg);
  }
  
  .aadhaar-number {
    margin-top: 20px;
  }
  
  
  .issue-date-right {
    align-self: flex-end;
  }
  
  /* .issue-date-right h6 {
    font-size: 10px;
  } */
  
  .issue-date-right h5 {
    margin-top: 5px;
    font-size: 12px;
  }
  
  .card.back-face h6 {
    font-size: 11px;
  }
  
  .card.back-face .magnetic-strip {
    position: absolute;
    top: 40px;
    left: 0;
    height: 45px;
    width: 100%;
    background: #000;
  }